{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": { "browser": true, "jest": true, "node": true },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "semi": ["error", "never"]
  }
}
